################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user
_ReSharper.*
bin
obj
packages
/.vs/PatternsExamples/v16/TestStore/0
